@import "./mixins/flex";

.homeNavigationBtn {
  padding: 1rem 1.2rem;
  border-radius: var(--border-radius);
  background: rgba(var(--card-rgb), 0);
  border: 1px solid rgba(var(--card-border-rgb), 0);
  transition: background 200ms, border 200ms;
  margin-top: 2rem;

  h2 {
    font-weight: 600;
  }

  span {
    display: inline-block;
    transition: transform 200ms;
  }

  &:hover {
    background: rgba(var(--card-rgb), 0.1);
    border: 1px solid rgba(var(--card-border-rgb), 0.15);
    span {
      transform: translateX(4px);
    }
  }
}

.homeContentContainer {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  gap: 1rem;
}

.homeTitleContainer {
  @include flexRowCenterCenter;
  flex-wrap: wrap;
  gap: 1rem;
}

.homeSubtitleContainer {
  @include flexRowCenterCenter;
  gap: 0.8rem;
}

/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
  .homeNavigationBtn {
    &:hover {
      background: rgba(var(--card-rgb), 0.1);
      border: 1px solid rgba(var(--card-border-rgb), 0.15);
      span {
        transform: translateX(4px);
      }
    }
  }
}

@media (prefers-reduced-motion) {
  .homeNavigationBtn:hover span {
    transform: none;
  }
}

@media (prefers-color-scheme: dark) {
  .logo {
    filter: invert(1) drop-shadow(0 0 0.3rem #ffffff70);
  }
}

@keyframes rotate {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}
