@import "../../styles/mixins/flex";

.backNavigationBtn {
  @include flexRowBase;
  align-items: center;
  gap: 0.5rem;
  padding: 1rem 1.2rem;
  border-radius: var(--border-radius);
  background: rgba(var(--card-rgb), 0);
  border: 1px solid rgba(var(--card-border-rgb), 0);
  transition: background 200ms, border 200ms;
  font-size: 18px;

  h2 {
    font-weight: 600;
  }

  span {
    display: inline-block;
    transition: transform 200ms;
    transform: rotate(180deg);
  }

  &:hover {
    background: rgba(var(--card-rgb), 0.1);
    border: 1px solid rgba(var(--card-border-rgb), 0.15);
  }
}

/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
  .backNavigationBtn {
    &:hover {
      background: rgba(var(--card-rgb), 0.1);
      border: 1px solid rgba(var(--card-border-rgb), 0.15);
    }
  }
}
