@mixin flexRowBase {
  display: flex;
  flex-direction: row;
}
@mixin flexRowBetweenCenter {
  @include flexRowBase;
  justify-content: space-between;
  align-items: center;
}

@mixin flexRowCenterCenter {
  @include flexRowBase;
  justify-content: center;
  align-items: center;
}
